<!DOCTYPE html>
<html>
<head>
    
    <title>@ViewData["Title"] - TechTonYc</title>

    <environment include="Development">
        
    </environment>
    <environment exclude="Development">
        
    </environment>
    
</head>
<body>
    @RenderBody()
    <environment include="Development">
        
    </environment>
    <environment exclude="Development">
        
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
